.streams {
  margin-top: 30px;
  max-width: 1152px;
  margin: auto;
  height: 100vh;

  &-content {
    display: grid;
    grid-template-areas: 'post suggestions';
    grid-template-columns: 1fr 330px;
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    .streams-post {
      grid-area: post;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100vh;
      scroll-behavior: smooth;
    }

    .streams-suggestions {
      grid-area: suggestions;
      background-color: var(--white-1);
      max-height: 600px;
      border-radius: 16px;
    }
  }
}

/* Responsive styles for tablets */
@media screen and (max-width: 1024px) {
  .streams {
    padding: 0 15px;

    &-content {
      column-gap: 15px;
      grid-template-columns: 2fr 1fr;
    }
  }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
  .streams {
    padding: 0 10px;

    &-content {
      grid-template-areas: 'post';
      grid-template-columns: 1fr;

      .streams-suggestions {
        display: none; /* Hide suggestions on mobile */
      }

      .streams-post {
        width: 100%;
      }
    }
  }
}
