.private-chat-wrapper {
  height: calc(100vh - 120px);
  max-width: 1152px;
  min-width: 60vw;
  margin: auto;
  margin-bottom: 60px;
overflow: hidden;
  &-content {
    margin-top: 20px;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'side message';
    flex-grow: 1;
    background-color: var(--white-1);
    height: 100%;
    width: 100%;

    &-side {
      grid-area: side;
      flex-basis: 300px;
      border-right: 1px solid var(--white-4);
      padding: 0 15px;
      height: 100%;
    }

    &-conversation {
      grid-area: message;
      flex-grow: 1;
      width: 100%;

      .no-chat {
        color: var(--black-3);
        font-weight: 700;
        font-size: 18px;
        position: absolute;
        background-color: var(--white-1);
        max-width: calc(1152px - 300px);
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        max-height: calc(100vh - 120px);
        align-items: center;
      }
    }
  }
}
